<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bokakao.product.mng.mapper.ProductMngMapper">

	<insert id="mergeProductMng" parameterType="com.bokakao.product.mng.domain.ProductMngDomain">
		/* [ProductMngMapper - mergeProductMng] 제품 저장 */
		insert into product_mng (
			prdt_seq,
			prdt_nm,
			prdt_price,
			prdt_sale_price,
			prdt_img,
			prdt_stock,
			prdt_season,
			prdt_dtl,
			prdt_info,
			korea_shipping_yn,
			intl_shipping_yn,
			reg_dtm,
			reg_uid,
			mdf_dtm,
			mdf_uid
		) values (
			#{prdt_seq},
			#{prdt_nm},
			#{prdt_price},
			#{prdt_sale_price},
			#{prdt_img},
			#{prdt_stock},
			#{prdt_season},
			#{prdt_dtl},
			#{prdt_info},
			#{korea_shipping_yn},
			#{intl_shipping_yn},
			now(),
			#{reg_uid},
			now(),
			#{mdf_uid}
		)
		on duplicate key update
			prdt_nm 			= #{prdt_nm},
			prdt_price 			= #{prdt_price},
			prdt_sale_price 	= #{prdt_sale_price},
			prdt_img 			= #{prdt_img},
			prdt_stock			= #{prdt_stock},
			prdt_season			= #{prdt_season},
			prdt_dtl			= #{prdt_dtl},
			prdt_info			= #{prdt_info},
			korea_shipping_yn 	= #{korea_shipping_yn},
			intl_shipping_yn 	= #{intl_shipping_yn},
			mdf_dtm				= now(),
			mdf_uid				= #{mdf_uid}
	</insert>
	
	<insert id="mergeProductImg" parameterType="com.bokakao.product.mng.domain.ProductMngDomain">
		/* [ProductMngMapper - mergeProductImg] 제품 이미지 저장 */
		insert into product_img (
			prdt_seq,
			prdt_img
		) values (
			#{prdt_seq},
			#{prdt_img}
		)
		on duplicate key update
			prdt_img	= #{prdt_img}
	</insert>
	
	<delete id="deleteProductImg" parameterType="com.bokakao.product.mng.domain.ProductMngDomain">
		/* [ProductMngMapper - deleteProductImg] 제품 이미지 삭제 */
		delete from product_img where prdt_seq = ${prdt_seq}
	</delete>
	
	<select id="getProductList" parameterType="com.bokakao.product.mng.domain.ProductMngDomain" resultType="com.bokakao.product.mng.domain.ProductMngDomain">
		/* [ProductMngMapper - getProductList] 제품 목록 조회 */
		select t.*
		from(
			select @ROWNUM:=@ROWNUM+1 as row_num, a.*
			from (select 
						pm.prdt_seq,
						pm.prdt_nm,
						pm.prdt_price,
						pm.prdt_sale_price,
						pm.prdt_img,
						pm.prdt_stock,
						pm.prdt_season,
						pm.prdt_dtl,
						pm.prdt_info,
						pm.korea_shipping_yn,
						pm.intl_shipping_yn,
						pm.reg_dtm,
						pm.reg_uid,
						pm.mdf_dtm,
						pm.mdf_uid
				 from product_mng pm
				 <if test="sch_cate_seq != '' and sch_cate_seq != null">
				 	inner join product_cate pc on pm.prdt_seq = pc.prdt_seq
				 </if>
				 <if test="sch_char_seq != '' and sch_char_seq != null">
				 	inner join product_character pch on pm.prdt_seq = pch.prdt_seq
				 </if>
 				 , (select @ROWNUM:=0) r
				 where 1=1
				 <if test="prdt_seq != '' and prdt_seq != null">
				 	and pm.prdt_seq = ${prdt_seq}
				 </if>
				 <if test="sch_cate_seq != '' and sch_cate_seq != null">
				 	and pc.cate_seq = ${sch_cate_seq}
				 </if>
				 <if test="sch_char_seq != '' and sch_char_seq != null">
				 	and pch.char_seq = ${sch_char_seq}
				 </if>
				 order by prdt_seq asc
			)a
		)t
		<if test="page_no != '' and page_no != null">
			where row_num between #{first_idx} and #{last_idx}
		</if>
	</select>
	
	<select id="getProduct" parameterType="com.bokakao.product.mng.domain.ProductMngDomain" resultType="com.bokakao.product.mng.domain.ProductMngDomain">
		/* [ProductMngMapper - getProduct] 제품 단건 조회 */
		select 
				pm.prdt_seq,
				pm.prdt_nm,
				pm.prdt_price,
				pm.prdt_sale_price,
				pm.prdt_img,
				pm.prdt_stock,
				pm.prdt_season,
				pm.prdt_dtl,
				pm.prdt_info,
				pm.korea_shipping_yn,
				pm.intl_shipping_yn,
				<if test="uid != '' and uid != null">
					(select count(1) from order_mng om inner join order_detail od on om.ord_num = od.ord_num where om.ord_uid = ${uid} and od.prdt_seq = ${prdt_seq}) as ord_cnt,
				</if>
				pm.reg_dtm,
				pm.reg_uid,
				pm.mdf_dtm,
				pm.mdf_uid
		 from product_mng pm
		 where 1=1
		 <if test="prdt_seq != '' and prdt_seq != null">
		 	and pm.prdt_seq = ${prdt_seq}
		 </if>
		 order by prdt_seq asc
	</select>
</mapper>
