<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bokakao.product.cate.mapper.ProductCateMapper">

	<insert id="insertProductCate" parameterType="com.bokakao.product.cate.domain.ProductCateDomain">
		/* [ProductCateMapper - insertProductCate] 제품 카테고리 저장 */
		insert into product_cate (
			prdt_seq,
			cate_seq
		) values (
			#{prdt_seq},
			#{cate_seq}
		)
	</insert>
	
	<delete id="deleteProductCate" parameterType="String">
		/* [ProductCateMapper - deleteProductCate] 제품 카테고리 삭제 */
		delete from product_cate
		where prdt_seq = #{prdt_seq}
	</delete>
</mapper>
